

.style-body { background-image:linear-gradient(to right top,#fb7f06,#0513F7)}


.bg-menu {background-color: rgb(44, 130, 230) ;
          margin-left: -0.7em;
          width: 104vmax;}

.style-op-menu {color: black;
  font-weight: bold;
  text-decoration: none;
 }

 .logo-posi {margin-left: 2em;}
 .menu-posi {margin-left: 3%;}


/****new sub- menu ***/

/************************ estilos del menu ****************************/

