<head>
  <title>Edit Room Page</title>
   <!--Made with love by Sergio Moncada -->



    <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



<!------ Include the above in your HEAD tag ---------->



</head>

<body class="container-fluid ml-0">
  <div class="container container-fluid ml-0">
    <div class="card-container d-flex">
     <!-- form card register -->
     <div class="card">

      <div class="card-header">
        <h3>Edit Rent Room</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
       </div>


       <div class="card-body border border-dark position">

         <form [formGroup]="editForm" (ngSubmit)=" Editroom()">

 <!--------------- Street Name, begining block ---------------------------------------------->


 <div class="input-group form-group posi">
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-distribute-vertical"></i> &nbsp; &nbsp; Street:</span>

  </div>

<input style="color: black;"  type="text" class="form-control rounded-end"   name="street" formControlName="street" placeholder="Street Name">

<div  [class.is-invalid]="myForm['street'].invalid && (myForm['street'].dirty || myForm['street'].touched)"  required></div>
<div *ngIf="myForm['street'].invalid && (myForm['street'].dirty || myForm['street'].touched)" class="invalid-feedback">
  <div *ngIf="myForm['street'].errors?.['required']">This field is required.</div>
  <div *ngIf="myForm['street'].errors?.['minlength']">This field must have at least 5 character.</div>
</div>
</div>
<!-------------- Street Name, end block ---------------------------------------------------------->

<!--------------- city , begining block ---------------------------------------------->
<div class="input-group form-group posi">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="bi bi-geo-fill"></i> &nbsp; &nbsp; City:</span>

  </div>

  <!-- First way to do it -->
  <input type="text" class="form-control"  placeholder="City" name="city" formControlName="city"
  [class.is-invalid]="myForm['city'].invalid && (myForm['city'].dirty || myForm['city'].touched)"  required>

  <!-- Second Way to do it -->
  <!--
  <input  type="radio" id="radio-design" name="city" formControlName="city">
  <label for="radio-design"  style="color: antiquewhite;" value = "Naguanagua">&nbsp; &nbsp; &nbsp; &nbsp;Naguanagua</label>&nbsp; &nbsp; &nbsp; &nbsp;

  <input  type="radio" id="radio-design" name="city" formControlName="city" value="Valencia">
  <label for="radio-design"  style="color: antiquewhite;">&nbsp; &nbsp; &nbsp; &nbsp; Valencia</label><br> -->

  <!--<label for="cars" style="color: blanchedalmond;"> City: &nbsp; &nbsp; &nbsp; </label>-->

  <!--- third way -->
  <!--<div class="input-group-prepend">
  <span class="input-group-text"><i class="bi bi-geo-fill"></i></span>
  </div>
  <select id="cars" name="city" formControlName="city" class="rounded-end form-control" required>
   <option value="Naguanagua" selected>Naguanagua</option>
   <option value="Valencia">Valencia</option>
   <option value="San Diego">San Diego</option>

  </select> -->




  <div *ngIf="myForm['city'].invalid && (myForm['city'].dirty || myForm['city'].touched)" class="invalid-feedback">
  <div *ngIf="city.errors?.['required']">This field is required.</div>
  </div>
  </div>
  <!-------------- city, end block ---------------------------------------------------------->


  <!--------------- State, begining block ---------------------------------------------->
<div class="input-group form-group posi">
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-geo-fill"></i> &nbsp; &nbsp; State:</span>

  </div>

  <input type="text" class="form-control"  placeholder="State" name="state" formControlName="state"
  [class.is-invalid]="myForm['state'].invalid && (myForm['state'].dirty || myForm['state'].touched)"  required>

  <div *ngIf="myForm['state'].errors?.['required']">This field is required.</div>

</div>

  <!-------------- State Name, end block ---------------------------------------------------------->





<!--------------- Room No, begining block ---------------------------------------------->
<div class="input-group form-group posi">
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-file-earmark-diff"></i> &nbsp; &nbsp; Rooms #:</span>

  </div>

  <input type="number" class="form-control"  placeholder="Room No" name="roomNo" formControlName='roomNo'
   [class.is-invalid]="myForm['roomNo'].invalid && (myForm['roomNo'].dirty || myForm['roomNo'].touched)"   min="1" max="5" required>
  <div *ngIf="myForm['roomNo'].invalid && (myForm['roomNo'].dirty || myForm['roomNo'].touched)" class="invalid-feedback">
  <div *ngIf="roomNo.errors?.['required']">This field is required.</div>

  </div>
  </div>
  <!-------------- Room No, end block ---------------------------------------------------------->
<!--------------- District, begining block ---------------------------------------------->
<div class="input-group form-group posi">
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-geo-fill"></i> &nbsp; &nbsp; District:</span>

  </div>

  <input type="text" class="form-control"  placeholder="District" name="district" formControlName="district"
  [class.is-invalid]="myForm['district'].invalid && (myForm['district'].dirty || myForm['district'].touched)"  required>
  <div *ngIf="myForm['district'].invalid && (myForm['district'].dirty || myForm['district'].touched)" class="invalid-feedback">
  <div *ngIf="district.errors?.['required']">This field is required.</div>

  </div>
  </div>
  <!-------------- distrito, end block ---------------------------------------------------------->

<!--------------- Landmark, begining block ---------------------------------------------->
<!--
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-rulers"></i> &nbsp; &nbsp; Landmark:</span>

  </div>

  <input type="text" class="form-control"  placeholder="Landmark" name="landmark" formControlName="landmark"
  [class.is-invalid]="myForm['landmark'].invalid && (myForm['landmark'].dirty || myForm['landmark'].touched)"  required>
  <div *ngIf="myForm['landmark'].invalid && (myForm['landmark'].dirty || myForm['landmark'].touched)" class="invalid-feedback">
  <div *ngIf="landmark.errors?.['required']">This field is required.</div>

  </div>-->

  <!-------------- Landmark, end block ---------------------------------------------------------->

<!--------------- Room Type, begining block ---------------------------------------------->

<div class="input-group form-group posi">
  <div class="input-group-prepend">
      <span class="input-group-text"><i class="bi bi-columns"></i> &nbsp; &nbsp; Room Tp:</span>

  </div>


  <input type="text" class="form-control"  placeholder="Room Type" name="roomTypes" formControlName="roomTypes"
  [class.is-invalid]="myForm['roomTypes'].invalid && (myForm['roomTypes'].dirty || myForm['roomTypes'].touched)"  required>
  <div *ngIf="myForm['roomTypes'].invalid && (myForm['roomTypes'].dirty || myForm['roomTypes'].touched)" class="invalid-feedback">
  <div *ngIf="roomTypes.errors?.['required']">This field is required.</div>

  </div>
  </div>
  <!--------------- Room Type, block end ---------------------------------------------->



          <h6 style="color: blanchedalmond;">Add Legal Documents:</h6>
          <div class="input-group form-group posi">

           <div class="input-group-prepend">
               <span class="input-group-text">
                    <i class="bi bi-newspaper"></i>
              </span>
           </div>
           <input type="file"  class="form-control rounded-end" name="myfile"
           formControlName="legalDocuments"
           accept="image/*" (change)="changelegaldoc($event)" multiple required />



           <span class="file-custom"></span>

       </div>

      <!--  form field add profile picture -->
      <h6 style="color: blanchedalmond;">Add Profile Picture:</h6>
      <div class="input-group form-group posi">

       <div class="input-group-prepend">
           <span class="input-group-text">

             <i class="bi bi-images"></i>


           </span>
       </div>
       <input type="file"  class="form-control rounded-end" name="myfile" accept="image/*"  formControlName="image" (change)="changeImg($event)" multiple/>

       <span class="file-custom"></span>

   </div>
         <br>
         <br>
         <br>




           <div class="form-group">
             <button class="btn btn-success btn-lg btn-block" type="submit">
               Update
             </button> &nbsp; &nbsp; &nbsp;

            <button id="reg-btn" class="btn btn-lg float-left btn-warning mr-5" (click)="back()"> Back </button>
           </div>
         </form> <!-- form  -->
       </div>
     </div>

   </div>
 </div>
</body>
