@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 150%;
height: 75vmax;
font-family: 'Numans', sans-serif;
}

.containerP{
height: 100%;


align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
width: 35vmax;
height: 80%;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #347aa8;

}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;

}

.input-group-prepend span{
width: 50px;

width: 4vmax !important;
background-color: #347aa8;
color: black;
border:0 !important;
}




input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #214da0;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.input-style {height: 2.4em !important;
  width: 23em;
  margin-left: 3.2em !important;
  margin-top: -1.5em !important;
  
  border:0 !important;}

.select-style {  width: 3.8vmax !important;
      height: 2.42em !important;
      background-color: #347aa8;
      color: black;
      border:0 !important;

     padding-top:2em;
     position: relative;
     top: 2em;
     border-radius: 0.2em;

     }

.i-posi {position: relative;
            top: -1em;
             left: 0.5em;}
